$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../../fonts/icomoon" !default;

$icon-facebook: "\e901";
$icon-instagram: "\e902";
$icon-Twitter: "\e903";
$icon-date: "\e900";
$icon-view: "\e909";

