$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../../fonts/icomoon" !default;

$icon-date-icon: "\e900";
$icon-facebook-icon-path1: "\e901";
$icon-facebook-icon-path2: "\e902";
$icon-instagram-icon-path1: "\e903";
$icon-instagram-icon-path2: "\e904";
$icon-instagram-icon-path3: "\e905";
$icon-instagram-icon-path4: "\e906";
$icon-twitter-icon-path1: "\e907";
$icon-twitter-icon-path2: "\e908";
$icon-view-icon: "\e909";

