@import "../../styles/utilities/mixins";
@import "../../styles/utilities/variables";

.template-list {
  margin-bottom: 30px;
  @include d-flex;

  .template-item {
    input[type="radio"] {
      display: none;
    }

    label {
      border: 2px solid $color-border;
      @include justify-space-between;
      border-radius: $br-xs;
      display: inline-block;
      text-align: center;
      margin-right: 15px;
      @include dir-col;
      @include d-flex;
      padding: 15px;
      height: 100%;
    }

    &.active {
      label {
        border-color: $color-primary;
      }
    }

    .poster {
      margin-bottom: 10px;
      max-width: 150px;
      width: 100%;
    }
  }
}