$columns: 12; // Number of columns in the grid system

@for $width from 1 through $columns {
  .col-#{$width} {
    flex-basis: $width / $columns * 100%;
    max-width: $width / $columns * 100%;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }
}

@media (min-width: $screen-xs-min) {
  @for $width from 1 through $columns {
    .col-xs-#{$width} {
      max-width: 100% * $width / 12;
      flex-basis: 100% * $width / 12;
      padding-left: $gutter-width / 2;
      padding-right: $gutter-width / 2;
    }
  }
}

@media (min-width: $screen-sm-min) {
  @for $width from 1 through $columns {
    .col-sm-#{$width} {
      flex-basis: 100% * $width / 12;
      max-width: 100% * $width / 12;
      padding-left: $gutter-width / 2;
      padding-right: $gutter-width / 2;
    }
  }
}

@media (min-width: $screen-md-min) {
  @for $width from 1 through $columns {
    .col-md-#{$width} {
      max-width: 100% * $width / 12;
      flex-basis: 100% * $width / 12;
      padding-left: $gutter-width / 2;
      padding-right: $gutter-width / 2;
    }
  }
}

@media (min-width: $screen-lg-min) {
  @for $width from 1 through $columns {
    .col-lg-#{$width} {
      max-width: 100% * $width / 12;
      flex-basis: 100% * $width / 12;
      padding-left: $gutter-width / 2;
      padding-right: $gutter-width / 2;
    }
  }
}