// Headings
// -------------------------
h1, .h1 {
  @include heading($font-secondary,$font-size-h1,$color-text,20px,normal);

  @media (max-width: $screen-sm-max) {
    font-size: floor($font-size-h1 / 1.14);
  }
}

h2, .h2 {
  @include heading($font-secondary,$font-size-h2,$color-text,30px,normal);

  @media (max-width: $screen-sm-max) {
    font-size: floor($font-size-h2 / 1.14);
  }
}

h3, .h3 {
  @include heading($font-secondary,$font-size-h3,$color-text,25px,normal);

  @media (max-width: $screen-sm-max) {
    font-size: floor($font-size-h3 / 1.14);
  }
}

h4, .h4 {
  @include heading($font-secondary,$font-size-h4,$color-text,23px,normal);

  @media (max-width: $screen-sm-max) {
    font-size: floor($font-size-h4 / 1.14);
  }
}

h5, .h5 {
  @include heading($font-secondary,$font-size-h5,$color-text,20px,normal);

  @media (max-width: $screen-sm-max) {
    font-size: floor($font-size-h5 / 1.14);
  }
}

h6, .h6 {
  @include heading($font-secondary,$font-size-h6,#616D7D,15px,normal);

  @media (max-width: $screen-sm-max) {
    font-size: floor($font-size-h6 / 1.14);
  }
}