//paths
$fonts-folder:          "../../fonts";
$images-folder:         "../img/";

//fonts
$font-primary:          "Roboto Regular", sans-serif;
$font-secondary:        "Roboto Black", sans-serif;


//headings
$font-size-h1 :      16px;
$font-size-h2 :      24px;
$font-size-h3 :      20px;
$font-size-h4 :      18px;
$font-size-h5 :      16px;
$font-size-h6 :      12px;


//color usage
$color-primary:      #d47e91;
$color-dark:         #606060;
$color-white:        #ffffff;
$color-border:       #f0f0f0;
$color-light:        #919191;

//text color
$color-text:         $color-dark;

//Text size
$base-font-size:     14px;

// Transitions
$trns-standart:      all .4s ease;

//Border radius
$br-sm:              30px;
$br-xs:              10px;