@import "src/styles/main";

.select-control {
  border: 1px solid $color-border;
  border-radius: $br-xs;
  margin-bottom: 50px;
  color: $color-text;
  min-width: 540px;
  background: none;
  cursor: pointer;
  padding: 10px;
}

.label-text {
  margin-bottom: 5px;
  font-size: 10px;
  display: block;
}