@import "../../styles/utilities/variables";

.select-control {
  border: 1px solid $color-border;
  border-radius: $br-xs;
  margin-bottom: 50px;
  color: $color-text;
  background: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.label-text {
  margin-bottom: 5px;
  font-size: 10px;
  display: block;
}