html {
  @include prefix(box-sizing,border-box,webkit);
  position: relative;
  min-height: 100%;
}

body {
  background-color: $color-white;
  font-size: $base-font-size;
  font-family: $font-primary;
  word-wrap: break-word;
  padding-bottom: 50px;
  color: $color-text;
  line-height: 18px;
  padding-top: 50px;
  font-weight: 400;
}

*, *:before, *:after {
  @include prefix(box-sizing,inherit,webkit);
  outline: none;
}

//container styles
.container {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 650px;
  width: 100%;
}